<div class="bg-[url('/assets/background-nasa.png')]"></div>
<div class="bg-[url('/assets/background-nasa.png')] flex flex-col items-center">
  <div class="max-w-md rounded overflow-hidden shadow-lg bg-sky-700 opacity-80 mr-16 text-left text-white p-4 m-2 w-[400px]">
    Hello there
  </div>
  <div class="max-w-md rounded overflow-hidden shadow-lg bg-slate-300 opacity-80 ml-16 text-right p-4 m-2 w-[400px]">
    Hello there
  </div>
  <input type="text" class="w-[464px] mx-auto h-10 px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300">
</div>
<button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-md">Senden</button>
